.header-Component{
    width:100%;
    border-bottom:1px solid #e5e5e5;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    background: #fcfff9;
    font-size: 0.8rem;
    color:#333;
}
.logo-img{
    width:1.25rem;
    height:1.25rem;
    padding:0.5rem;
}